@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@400;500;600;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
html{
    background-color: rgb(157, 172, 182);
    font-size: large;
    margin-left: 1px;
    }
  .top{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(29, 36, 83);
    color: wheat;
  }
  h2{
    padding-left: 50px;
  }
  .tab-content{
    background-color: rgb(231, 225, 131);
    padding: 5% 10% 10%;
    align-items: flex-start;
    line-height: 20px;
  }
  
  .b1{
    margin-left: 50px;
   }
  .default{
    background-color: rgb(105, 104, 145);
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 60px;
    padding: 50px 50px 50px 50px;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    font-weight: 900;
  }
  .tab-container{
    font-size: 20px;
    position: absolute;
    background-color: rgb(48, 58, 88);
    border-radius:2px;
    border: 3px solid rgb(62, 90, 117);
    padding: 20px 20px 50px 20px;
    color: antiquewhite;
    font-family: 'Times New Roman', Times;
    height: 100%;
  }
  .tab-container :hover{
    cursor:hand;
    color:rgb(42, 165, 159);
    text-shadow: 2px 2px 5px rgba(0, 0, 0 ,0.3);
    font-size: larger;
  }
  .tablinks{
    cursor: pointer;
    padding-top: 30px;
    color:white black; 
  }
  f{
     font-weight: 500;
     color: wheat;
  }
  a{
    color: wheat blue;
    font-family: Cambria, Cochin, Georgia, Times, serif;
  }.h3{
    color: white black;
    font-size: 19px;
    margin-bottom: 2px;
  }
  
  .b1{
    line-height: 20px;
  }
  .tab-content{
    padding-left: 30px;
    margin: 20px 20px 20px 200px;
    display: none;
    line-height:20px ;
  
  }p{
    position: relative;
  }
  .h4{
    size: 15px;
  }
  .button-head{
    color:black;
    background: white;
    border: 2px solid white;
    padding:10px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px blue; 
    text-decoration: none;
    font-weight: 500;
    float: right;
    transition:.5s;
  }

  .button-head:hover {
    background: transparent;
    box-shadow: none;
    color: white;

  }
  img{
    width: 100px;
    border-radius:50%;
    border-top-left-radius:50% 50%;
    border-top-right-radius:50% 50%;
  }
  footer{
    margin-left: 300px;
    margin-bottom: 10%;
  }
  .column{
    float: left;
    width: 40%;
    padding: 40px;
    height: 10px;
   
  }
  .row{
    display: flex;
  }
  
